<!-- Events Filter -->

<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderDate()">Orden por fecha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="orderPrice()">Orden por precio</a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="search" name="search" placeholder="Search"
      aria-label="Search">
  </form>
</nav>

<!-- Formulario Añadir Evento -->

<!-- <app-event-add (addingEvent)="storingEvent($event)"/> -->

<!-- Show Eventos -->
<div class="row">
  @if (events$ | async; as eventsList) {
    @if (eventsList.length ==0) { <h3>No hay eventos...</h3>}
    @for (event of (eventsList | eventFilter: search); track event) {

      <div class="col-6 mt-4">

        <app-event-item [event]="event" class="card" (deletingEvent)="deleteEvent(event)"/>

      </div>
    }
  }
</div>
